$premiere: #9356DC; 
$seconde : #FF79DA;
$troisieme : #99E2D0;
$quatrieme : #E0E0E0;
$cinquieme : #F5F5F5;
$sixieme : #616161;
$septieme : #424242;
$huitieme : #FFFFFF;
$neuvieme : #BDBDBD;
$dixieme : #EEEEEE;
$onzieme : #EDE7F6;
$douzieme : #212121;