@charset "UTF-8";
/* Accueil */
/* Définition des variables */
/* Définition des mixins*/
@font-face {
  font-family: "robotoregular";
  src: url("Base/webfonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot");
  src: url("Base/webfonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Base/webfonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("Base/webfonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("Base/webfonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("Base/webfonts/shrikhand/shrikhand-regular-webfont.eot");
  src: url("Base/webfonts/shrikhand/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Base/webfonts/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("Base/webfonts/shrikhand/shrikhand-regular-webfont.woff") format("woff"), url("Base/webfonts/shrikhand/shrikhand-regular-webfont.ttf") format("truetype"), url("Base/webfonts/shrikhand/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  margin: 0%;
}

.titre {
  margin-left: 3%;
}

.titre__menu {
  font-size: 2.7em;
  color: #212121;
  font-weight: bolder;
  height: 20px;
}

.titre__restau {
  font-size: 2.7em;
  color: #212121;
  padding-bottom: 10mm;
}

p {
  font-family: "robotoregular";
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "shrikhandregular";
}

a {
  text-decoration: none;
}

/* Mise en page header */
.logo_header {
  text-align: center;
  font-size: 3em;
}

.background_logo {
  box-shadow: 0px 10px 6px #BDBDBD;
}

.background_ville {
  background-color: #EEEEEE;
  margin-top: 5px;
}

.positionnement {
  display: flex;
  font-size: 2em;
  margin: auto;
  width: 300px;
  text-align: center;
  background-color: #EEEEEE;
}

.icone_ville {
  padding-top: 33px;
  padding-right: 10px;
  margin-top: 5px;
}

/* Fin mise en page header */
/* Mise en page body */
.context {
  background-color: #F5F5F5;
  text-align: center;
  height: 600px;
}

.context__reserv, .fonctionnement, .restaurants {
  font-size: 50px;
  font-weight: 900;
  padding-top: 10mm;
}

.context__decouv {
  color: #616161;
  font-size: 2em;
}

.context__btn {
  background: linear-gradient(#ff93e1 0%, #782cd3 100%);
  border-radius: 50px;
  width: 40%;
  margin-left: 30%;
  box-shadow: 6px 6px 10px #BDBDBD;
  padding: 0px 1px 1px 1px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 300ms;
  z-index: 1;
}
.context__btn:hover {
  transform: scale(1.15);
}
.context__btn:hover::after {
  opacity: 1;
}
.context__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#fface8 0%, #782cd3 100%);
  box-shadow: 6px 6px 10px #212121;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 50px;
}
.context__btn p {
  color: #FFFFFF;
  font-size: 2em;
  text-decoration: none;
  padding-top: 6%;
}

.fonctionnement, .restaurants {
  margin-left: 7mm;
  font-weight: 900;
}

.explications__numerotation {
  font-size: 2em;
  color: #FFFFFF;
  position: relative;
  top: 125px;
  margin-left: 20px;
}

.explications__cercle {
  height: 50px;
  width: 50px;
  background-color: #9356DC;
  border-radius: 50%;
}
.explications__cercle p {
  text-align: center;
  padding-top: 3px;
}

.icone_phone, .icone_liste, .icone_restau {
  font-size: 2.7em;
  color: #616161;
  padding-top: 8mm;
  padding-left: 20mm;
  padding-right: 15mm;
}

.icone_restau {
  color: #9356DC;
}

.choix, .composition, .degustez {
  width: 90%;
  margin-left: 5%;
  border-radius: 50px;
  display: flex;
  margin-bottom: 7mm;
  padding-top: 13mm;
  padding-bottom: 10mm;
  box-shadow: 6px 6px 20px #BDBDBD;
}

.choix, .composition {
  background-color: #EEEEEE;
}

.degustez {
  background-color: #EDE7F6;
  margin-bottom: 50mm;
}

.choix__restau {
  font-size: 2em;
  font-weight: 900;
}

.background_accueil {
  background-color: #EEEEEE;
  height: 1130mm;
}

.propositions {
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 10mm;
  box-shadow: 6px 6px 6px #BDBDBD;
}

/* Coeur favoris */
.heart_icone, .heart_background {
  font-size: 4em;
  position: relative;
  bottom: 130px;
  margin-left: 830px;
}

.heart_background {
  display: none;
}

.icones_favoris:hover .heart_background {
  color: #9356DC;
  display: block;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icones_favoris:hover .heart_icone {
  display: none;
}

.heart_icone_accueil, .heart_background_accueil {
  font-size: 4em;
  position: relative;
  bottom: 170px;
  margin-left: 830px;
  height: 0;
}

.heart_background_accueil {
  display: none;
}

.icones_favoris_accueil {
  height: 0;
}

.icones_favoris_accueil:hover .heart_background_accueil {
  display: inline;
  color: #9356DC;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icones_favoris_accueil:hover .heart_icone_accueil {
  display: none;
}

/* Fin coeur favoris */
.photo_menu {
  width: 100%;
  height: auto;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}

/* Fin mise en page body */
/* Mise en page footer */
footer {
  background-color: #424242;
  width: 100%;
  height: 380px;
  position: relative;
  bottom: 55mm;
}
footer a {
  font-size: 1.8em;
}
footer p {
  color: white;
  position: relative;
  margin-left: 4mm;
  height: 5px;
  margin: 40px;
}
footer i {
  float: left;
  width: 10mm;
  margin-top: 1mm;
  margin-left: 20mm;
  font-size: 1.5em;
  color: #F5F5F5;
}
footer h6 {
  color: #FFFFFF;
  font-size: 2em;
  margin-bottom: 10mm;
  color: white;
  padding-top: 10mm;
  padding-left: 20mm;
}

.contact, .mentions {
  margin-left: 15mm;
}

/* Fin du footer */
/* Menu 1 */
.background_menu, .background_menu2 {
  background-color: #F5F5F5;
  border-top-left-radius: 30mm;
  border-top-right-radius: 30mm;
  position: relative;
  bottom: 35mm;
  height: 890mm;
}

.background_menu2 {
  height: 950mm;
}

.fleche {
  position: relative;
  font-size: 3em;
  height: 0px;
  top: 40px;
  margin-left: 40px;
}
.fleche :hover {
  color: #9356DC;
}

.logo_menu {
  padding-top: 10mm;
  padding-bottom: 7mm;
  margin-left: 80mm;
}

.photo_palette, .photo_note, .photo_francaise, .photo_sens {
  width: 100%;
}

.nom_restau {
  font-size: 3em;
  margin-left: 5%;
  padding-top: 10mm;
}

.titre_entree, .titre_plat, .titre_dessert {
  color: #424242;
  font-size: 3em;
  margin-left: 5%;
  padding-top: 5mm;
}

@keyframes transition {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 35px;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.entree, .plat, .dessert {
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 10mm;
  box-shadow: 6px 6px 6px #E0E0E0;
  width: 90%;
  margin-left: 5%;
  padding-left: 3%;
  height: 180px;
  padding-top: 1mm;
  font-size: 2em;
  opacity: 0;
  animation: transition 2s, opacity 3s forwards;
}

.btn_check {
  color: #FFFFFF;
  position: relative;
  top: 75px;
  margin-left: 95%;
  height: 0;
}

@keyframes carre_deploiement {
  0% {
    transform: scale(0);
  }
  100% {
    transform: translateX(-70%);
  }
}
.entree:hover .box {
  position: relative;
  bottom: 78px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #99E2D0;
  width: 170px;
  height: 184px;
  background: #99E2D0;
  animation: carre_deploiement 1s forwards;
  transform: scale(1);
}
.entree:hover .box i {
  position: relative;
  left: 100px;
  font-size: 1.7em;
  top: 70px;
  margin-left: 60px;
  transform: translateX(-100px) rotate(360deg);
  transition: transform 1000ms;
  color: #FFFFFF;
}

.plat:hover .box {
  position: relative;
  bottom: 78px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #99E2D0;
  width: 170px;
  height: 184px;
  background: #99E2D0;
  animation: carre_deploiement 500ms 0s ease-in-out forwards;
}
.plat:hover .box i {
  position: relative;
  left: 100px;
  font-size: 1.7em;
  top: 70px;
  margin-left: 60px;
  transform: translateX(-100px) rotate(360deg);
  transition: transform 1000ms;
  color: #FFFFFF;
}

.plat_filet:hover .box {
  position: relative;
  bottom: 78px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #99E2D0;
  width: 190px;
  height: 223px;
  background: #99E2D0;
  animation: carre_deploiement 500ms 0s ease-in-out forwards;
}
.plat_filet:hover .box i {
  position: relative;
  left: 100px;
  font-size: 1.7em;
  top: 90px;
  margin-left: 70px;
  transform: translateX(-100px) rotate(360deg);
  transition: transform 1000ms;
  color: #FFFFFF;
}

.plat_filet {
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 10mm;
  box-shadow: 6px 6px 6px #E0E0E0;
  width: 90%;
  margin-left: 5%;
  height: 220px;
  padding-top: 2px;
  padding-left: 30px;
  font-size: 2em;
  transition-duration: 1s;
  animation: transition 2s, opacity 3s forwards;
}

.dessert:hover .box {
  position: relative;
  bottom: 78px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #99E2D0;
  width: 170px;
  height: 184px;
  opacity: 1;
  background: #99E2D0;
  animation: carre_deploiement 500ms 0s ease-in-out forwards;
}
.dessert:hover .box i {
  position: relative;
  left: 100px;
  font-size: 1.7em;
  top: 70px;
  margin-left: 60px;
  transform: translateX(-100px) rotate(360deg);
  transition: transform 1000ms;
  color: #FFFFFF;
}

.prix {
  font-size: 1em;
  position: relative;
  margin-left: 780px;
  bottom: 75px;
}

.entree:hover .prix {
  transform: translateX(-200px);
  transition: transform 500ms ease-out 50ms;
}

.plat:hover .prix {
  transform: translateX(-200px);
  transition: transform 500ms ease-out 50ms;
}

.plat_filet:hover .prix {
  transform: translateX(-200px);
  transition: transform 500ms ease-out 50ms;
}

.dessert:hover .prix {
  transform: translateX(-200px);
  transition: transform 500ms ease-out 50ms;
}

.bold {
  font-size: 1.2em;
  font-weight: 900;
  height: 25px;
}

.bouton_commander {
  background: linear-gradient(#ff93e1 0%, #782cd3 100%);
  border-radius: 20mm;
  width: 50%;
  margin-left: 25%;
  box-shadow: 6px 6px 10px #BDBDBD;
  margin-top: 10%;
  cursor: pointer;
  transform: scale(1);
  transition: transform 300ms;
  z-index: 1;
}
.bouton_commander:hover {
  transform: scale(1.15);
}
.bouton_commander:hover::after {
  opacity: 1;
}
.bouton_commander::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#fface8 0%, #782cd3 100%);
  box-shadow: 6px 6px 10px #212121;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 20mm;
}
.bouton_commander p {
  color: #FFFFFF;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  padding-bottom: 2.5mm;
  font-weight: 900;
}

.trait {
  border-bottom: 7px solid #99E2D0;
  width: 11%;
  margin-left: 4px;
  position: relative;
  bottom: 35px;
}

/* Fin Menu 1 */
/* Loading spinner */
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 410px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #FF79DA;
  animation: lds-heart 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.lds-heart div:after, .lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #FF79DA;
}

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
/* Fin loading spinner */

/*# sourceMappingURL=style.css.map */
